<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Page.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ with resources.Get "fonts/DovesTypeHeadline-Regular.ttf" }}
      <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/ttf" crossorigin="anonymous">
    {{ end }}

    <link rel="preload" href="/style.css" as="style" />
    <!-- {{ $font := resources.Get "fonts/DovesTypeHeadline-Regular.ttf" }} -->
    <!-- <link rel="preload" href="{{ $font.RelPermalink }}" as="font" type="font/ttf" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/style.css">
    </head>
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    <div id="main">
    </div>
        <nav class="nav">
        <div>
            <h3 style="color:white">Alex Veltman</h3>
        </div>
        <ul class="nav-links accent">
            <li><a href="/">About</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    </div>
  </body>
</html>
