{{ define "main" }}
    {{ .Content }}
      <!-- Profile Section -->
    <section class="profile" id="about">
        <div class="row">
            <div class="col-6">
                <img class="avatar" alt="Profile image" src="portrait.jpg"/>
            </div>
            <div class="col-6">
                <h1 style="color:white">Alex Veltman</h1>
                <p class="mb-2">PhD in Experimental Particle Physics at the University of Edinburgh</p>
                <p>I am a British-South African particle physicist working on the <a href="https://atlas.cern/">ATLAS experiment</a> at the Large Hadron Collider at CERN. I am currently working towards my PhD at the University of Edinburgh and am based in Edinburgh. My main research focus follows the search for long-lived particles decaying to 𝜏 leptons within the ATLAS detector.</p>
            </div>
        </div>
    </section>

    <!-- Research Interests -->
    <section class="mb-4" id="research">
        <h2>Research Interests</h2>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h4>High Energy Particle Physics at the ATLAS experiment</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-6">
                <div class="card-image">
                    <img alt="ATLAS Logo" src="atlas.svg" width="100%"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card-image">
                    <img alt="stau decay" src="stau-decay.svg" width="100%"/>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h4>Searches for long-lived particles</h4>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h4>Tau Reconstruction and Tagging</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-6">
                <div class="card-image">
                    <img alt="Roc curve" src="roc_curve.svg"/>
                </div>
            </div>
        </div>
    </section>

    <!-- Publications -->
    <!-- <section class="mb-4" id="publications"> -->
    <!--     <h2>Selected Publications</h2> -->
    <!--     <div class="pub-item"> -->
    <!--         <div class="pub-title">Towards Ethical AI: A Framework for Accountability in Machine Learning Systems</div> -->
    <!--         <div class="pub-authors">Jane Doe, Alex Johnson, Sam Chen</div> -->
    <!--         <div class="pub-venue">Proceedings of the ACM Conference on Fairness, Accountability, and Transparency (FAccT), 2023</div> -->
    <!--         <div class="mt-1"> -->
    <!--             <a href="#"><i class="fas fa-file-pdf"></i> PDF</a> |  -->
    <!--             <a href="#"><i class="fas fa-code"></i> Code</a> |  -->
    <!--             <a href="#"><i class="fas fa-quote-right"></i> Cite</a> -->
    <!--         </div> -->
    <!--     </div> -->
    <!--  -->
    <!--     <div class="pub-item"> -->
    <!--         <div class="pub-title">Accessibility-First Design: A New Paradigm for Human-Computer Interaction</div> -->
    <!--         <div class="pub-authors">Jane Doe, Maria Rodriguez</div> -->
    <!--         <div class="pub-venue">ACM Transactions on Computer-Human Interaction (TOCHI), Vol. 29, Issue 4, 2022</div> -->
    <!--         <div class="mt-1"> -->
    <!--             <a href="#"><i class="fas fa-file-pdf"></i> PDF</a> |  -->
    <!--             <a href="#"><i class="fas fa-code"></i> Code</a> |  -->
    <!--             <a href="#"><i class="fas fa-quote-right"></i> Cite</a> -->
    <!--         </div> -->
    <!--     </div> -->
    <!--     </div> -->
    <!-- </section> -->

    <section class="mb-4" id="contact">
        <h3> Links and Contact </h3>
        <ul>
            <li>Edinburgh email <code>a.g.veltman[at]sms.ed.ac.uk</code></li>
            <li>CERN email <code>alex.veltman[at]cern.ch</code></li>
        </ul>
    </section>

{{ end }}
